@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700)
@import '_normalize.styl'

body
  width: 100%
  font-family: "Lato", sans-serif


.nav > a
  display: inline-block
  margin-right: 20px
  transition: all .5s

  &:hover
    color: black

.left
  width: 50%
  float: left

.right
  width: 50%
  float: right

.tags
  margin-top: 50px

  > div
    border: 1px solid black
    padding: 10px
    font-size: 10px
    display: inline-block
    margin-right: 10px